@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
  scroll-behavior: smooth;
  max-width:100%; 
  letter-spacing: -0.05em;
}

.nav-button {
  @apply text-white ease-in-out hover:text-black duration-200 cursor-pointer relative px-5 py-0.5 before:absolute before:inset-0 before:bg-main-gold before:rounded-full before:-z-10 z-10 before:scale-0 before:opacity-0 before:hover:opacity-100 before:hover:scale-100 before:transition-all before:ease-in-out before:duration-[450ms] before:origin-center delay-75 text-lg font-bold;
}

.img-wrapper {
  @apply flex justify-between 2xl:w-[1440px] h-[250px] md:mt-16 xl:gap-60 xl:w-[1000px] lg:w-[900px] lg:gap-[10rem] md:w-[650px] md:gap-[7.5rem] sm:w-[500px] sm:gap-20 flex-wrap gap-8 mt-6;
}

.img-container {
  @apply flex-1 flex flex-col justify-end items-center sm:hover:scale-125 ease-in-out duration-[400ms];
}

.input-box {
  @apply p-4 rounded-md outline-none md1:w-[20rem] md:w-[17rem] sm:w-[12rem] w-[18rem];
}

.disclosure-text {
  @apply px-4 pt-4 pb-2 text-base text-[1.1rem] text-white max-w-[1100px] w-[80vw];
}

.disclosure-box {
  @apply flex max-w-[1100px] w-[80vw] justify-between rounded-lg bg-white duration-200 px-4 py-2 text-left text-sm font-medium text-black hover:bg-gray-100  focus:outline-none focus-visible:ring focus-visible:ring-purple-500 focus-visible:ring-opacity-75 items-center;
}

.nav-button-menu {
  @apply text-white hover:text-main-gold text-6xl cursor-pointer font-bold;
}

.benefits-sizing {
  @apply md:flex-row flex-col-reverse;
}

/* Scrollbar modification */

 ::-webkit-scrollbar {
    width: 6px;
} 

/* Track */
 ::-webkit-scrollbar-track {
    background-color: #1A1A1A;
} 

/* Handle */
 ::-webkit-scrollbar-thumb {
    background-color: #7EB3CE;
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #94c0d6;
} 